body {
	margin: 0;
	padding: 0;	
	background-color: $dark-color;
	text-align: center;
}

h1 {
	margin: 30px 0 40px 0;
	font-family: $heading-font-family;
	font-size: 73px;
	font-weight: 700;
	text-transform: uppercase;

	@media (max-width: 740px) {
		font-size: 50px;
	}
}

h3 {
	margin-top: 0;
	margin-bottom: 0;
	font-family: $heading-font-family;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;

	@media (max-width: 740px) {
		font-size: 35px;
	}
}

h5 {
	margin-top: 0;
	margin-bottom: 2px;
	font-family: $heading-font-family;
	font-size: 19px;
	font-weight: 600;
	letter-spacing: -1px;
}

h6 {
	font-family: $heading-font-family;
	font-size: 16px;
	font-weight: 600;
	//letter-spacing: -1px;
}

a {
	text-decoration: none;
	outline: none;
}

p {
	font-family: $paragraph-font-family;
	font-size: 14px;
	color: $paragraph-text-color;
	line-height: 23px;
}

.subheading {
	margin-top: 8px;
	margin-bottom: 70px;
	font-family: $subheading-font-family;
	font-style: italic;
	font-size: 16px;

	@media (min-width: 440px) and (max-width: 767px) {
		margin-bottom: 9vw;
	}

	@media (max-width: 439px) {
		margin-bottom: 14vw;
	}

}

button {
	border: 2px solid $yellow-color;
	border-radius: 3px;
	outline: 0;  
	background-color: $yellow-color;
	width: 240px;
	height: 68px;

	text-transform: uppercase;
	color: white;
	font-weight: 700;
	font-size: 18px;

	transition: all .2s;

	&:link, &:visited {
		color: white;
	}

	&:hover, &:active {
		//background-color: $dark-color;
		//color: $yellow-color;
		color: $dark-color;
		background-color: rgba(254, 209, 54, .7);
	}
}

.uppercase {
	text-transform: uppercase;
}
