@mixin grid($prefix) {
	@for $i from 1 through 12 {
		.col-#{$prefix}-#{$i} {
			$width: 100% / 12 * $i;
			width: $width;
			max-width: $width;
			float: left;
			min-height: 1px;
			/*text-align: center;*/
			position: relative;
			@if $i != 1 and $i != 12 {
				padding-left: 17px;
			}
			
			@if $i != 12 {
				padding-right: 17px;
			}			
		}
	}
}

@mixin about-section-image($number) {
	.img-#{$number} {
    	background-image: url('../images/about-' + $number + '.jpg');
    }
}

@mixin placeholder-styles {
	color: $textholder-color;
	font-weight: 700;
	text-transform: uppercase;
}