$yellow-color: #fed136;
$dark-color: #111111;//#28282e;
$background-color: white;
$light-gray-color: #f7f7f7;

$heading-text-color: #111111;
$subheading-text-color: #111111;
$paragraph-text-color: #777777;

$heading-font-family: "Montserrat", Helvetica, sans-serif;
$subheading-font-family: "Droid Serif", Times, serif;
$paragraph-font-family: "Roboto Slab", Times, serif;