@import "variables";
@import "mixins";
@import "layout";
@import "icons";
/*@import "../vendor/sass/buttons";
@import "../vendor/sass/dropdown";
@import "../vendor/sass/forms";
@import "../vendor/sass/navbar";
@import "../vendor/sass/nav";
@import "../vendor/sass/utilities";*/

body {
	margin: 0;
	padding: 0;	
	background-color: $dark-color;
	text-align: center;
}

h1 {
	margin: 30px 0 40px 0;
	font-family: $heading-font-family;
	font-size: 73px;
	font-weight: 700;
	text-transform: uppercase;

	@media (max-width: 740px) {
		font-size: 50px;
	}
}

h3 {
	margin-top: 0;
	margin-bottom: 0;
	font-family: $heading-font-family;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;

	@media (max-width: 740px) {
		font-size: 35px;
	}
}

h5 {
	margin-top: 0;
	margin-bottom: 2px;
	font-family: $heading-font-family;
	font-size: 19px;
	font-weight: 600;
	letter-spacing: -1px;
}

h6 {
	font-family: $heading-font-family;
	font-size: 16px;
	font-weight: 600;
	//letter-spacing: -1px;
}

a {
	text-decoration: none;
}

p {
	font-family: $paragraph-font-family;
	font-size: 14px;
	color: $paragraph-text-color;
	line-height: 23px;
}

.subheading {
	margin-top: 8px;
	margin-bottom: 70px;
	font-family: $subheading-font-family;
	font-style: italic;
	font-size: 16px;

	@media (min-width: 440px) and (max-width: 767px) {
		margin-bottom: 9vw;
	}

	@media (max-width: 439px) {
		margin-bottom: 14vw;
	}

}

button {
	border: 2px solid $yellow-color;
	border-radius: 3px;
	outline: 0;  
	background-color: $yellow-color;
	width: 240px;
	height: 68px;

	text-transform: uppercase;
	color: white;
	font-weight: 700;
	font-size: 18px;

	transition: all .2s;

	&:link, &:visited {
		color: white;
	}

	&:hover, &:active {
		//background-color: $dark-color;
		//color: $yellow-color;
		color: $dark-color;
		background-color: rgba(254, 209, 54, .7);
	}
}

.uppercase {
	text-transform: uppercase;
}

[class*="section--"] {
	padding-top: 100px;

	@media (max-width: 740px) {
		padding-top: 60px;
	}
}

.header-section {
	height: 700px;
	background-image: url('../images/header-background.jpg');
	background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    overflow: hidden;

 	.navbar {
 		margin: 0 auto;
		min-height: 65px;
		font-family: $heading-font-family;

		.box {
			width: 100%;
		}
		

		.nav {
			font-weight: 500;
			font-size: 13px;
			color: white;
			text-decoration: none;

			a {
				padding: 0 20px;
				text-decoration: none;
				color: white;

				&:link, &:visited {
					color: white;
					background-color: rgba(0,0,0,0);
				}

				&:hover, &:active {
					color: $yellow-color;
					background-color: rgba(0,0,0,0);
				}
			}
		}
	}

	.navbar-toggle .icon-bar {
		background-color: white;
	}

	.header-text-container {
		height: 635px;
		padding-top: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		align-content: center;
		color: white;
		text-align: center;

		@media (max-width: 767px) {
			padding-top: 20px;
		}

		.welcome-text {
			margin: 0;
			font-family: $subheading-font-family;
			font-style: italic;
			font-size: 40px;
			font-weight: 400;
			text-transform: capitalize;
			letter-spacing: -1px;

			@media (max-width: 767px) {
				font-size: 28px;
			}
		}
	}	
}

.section--services {
	padding-bottom: 80px;
	background-color: $background-color;

	@media (max-width: 740px) {
		padding-bottom: 40px;
	}

	.services-item {
		margin-bottom: 30px;

		.icon-container {
			display: flex;
			justify-content: center;
		}

		a {
			text-decoration: none;

			i {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 76px;
				width: 76px;
				margin-bottom: 13px;
				padding: 10px;
				border: 3px solid $yellow-color;
				border-radius: 50%;
				color: $yellow-color;
				font-size: 37px;
				transition: all .3s;

				&:hover, &:active {
					background-color: $yellow-color;
					color: white;
				}
			}
		}		
	}
}

.section--portfolio {
	padding-bottom: 100px;
	background-color: $light-gray-color;

	@media (max-width: 767px) {
		padding-bottom: 40px;
	}

	.item-container {
		background-color: white;	

		a {
			text-decoration: none;

				.photo-container {
					overflow: hidden;
					height: 21vw;
					object-fit: cover;

					@media (max-width: 600px) {
						height: 28vw;
					}					

					@media (min-width: 601px) {
						height: 32vw;
					}

					@media (min-width: 992px) {
						height: 21vw;
					}					

					img {
					width: 100%;				
					opacity: 1;					
					transition: all .3s;

					&:hover, &:active {
						opacity: .7;
						width: 120%;						
						margin: -10%;
					}
				}
			}
		}		

		.caption {
			padding: 17px;
			padding-bottom: 22px;
			margin-bottom: 50px;

			h5 {
				margin-bottom: 0;
			}

			p {
				margin-bottom: 0;
			}
		}
	}
}

@media (min-width: 1036px) {
	.header-section .navbar, .header-section .box {
 		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
}

@media (min-width: 768px) and (max-width: 1035px) {
	.header-section .navbar, .header-section .box {
 		display: flex;
 		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
	}

	.header-section .navbar .collapse {
		padding-top: 10px;
	}
}

@media (max-width: 780px) {

	.header-section .navbar .navbar-collapse {
		//background-color: rgba(0, 0, 0, .8);
		//background-color: rgba(40, 40, 46, .95);
		background-color: rgba(254, 209, 54, .8);
		position: absolute;
		top: 65px;
		width: 100%;
		text-align: center;
	}

	.header-section .navbar .nav {

		li {
			text-align: center;
		}
		
		a {
			margin: 15px 0;
			font-weight: 700;

			&:link, &:visited {
				color: $dark-color;
			}
			
			&:hover, &:active {
				color: white;
			}
		}

		.header-text-container {
			padding-top: 30px;
		}
	}	

	/*.navbar-header {
      //float: none;
	}
	.navbar-left,.navbar-right {
		//float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
		//top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
	    display: none!important;
	}
	.navbar-nav {
	    float: none!important;
	    //margin-top: 7.5px;
	}
	.navbar-nav>li {
	    float: none;
	}
	.navbar-nav > li > a {
	    padding-top: 10px;
	    padding-bottom: 10px;
	}
	.collapse.in{
	    display:block !important;
	}*/
}

.section--about {
	padding-bottom: 80px;
	background-color: $background-color;

	@media (max-width: 740px) {
		padding-bottom: 40px;
	}	

	.image-container {
    	width: 100%;
     	padding-top: 100%; /* 1:1 Aspect Ratio */
     	margin-bottom: 93px;
    	position: relative; /* If you want text inside of it */
    	box-shadow: 0 0 0 7px $image-border-color;
    	border-radius: 50%;    	
    	background-position: center;
    	background-size: cover;    	

    	.text {
    		position: absolute;
    		top: 12%;
    		left: 0;
    		bottom: 12%;
    		right: 0;
    	}
	}

	@include about-section-image(1);
	@include about-section-image(2);
	@include about-section-image(3);
	@include about-section-image(4);

	@media (min-width: 680px) {
		.line {
			background-image: url("/images/line.jpg");
			background-position: center;
			background-repeat: repeat-y;
		}
	}	

	.img-blank {
		
		background-image: url("/images/about-blank.png");
		background-color: $yellow-color;
		background-position: center;
		background-repeat: repeat-y;
		
		h5 {
			color: white;
			font-size: 1.3vw;
			text-transform: uppercase;
			line-height: 2.2vw;
			letter-spacing: 0;
			text-shadow: 0 1px 1px #febc1d;
		}
	}

	@media (max-width: 991px) {
		.col-outside p {
			margin-bottom: 50px;
		}

		.image-container {
			margin-bottom: 30px;
		}
	}
}

.section--team {
	padding-bottom: 120px;
	background-color: $light-gray-color;

	@media (max-width: 740px) {
		padding-bottom: 80px;
	}

	.left-col-padd {
		padding-left: 6vw;
	}

	.right-col-padd {
		padding-right: 6vw;
	}

	img {
		width: 16vw;
		height: 16vw;
		object-fit: cover;
		border-radius: 50%;
	}

	h6 {
		margin-top: 18px;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 2px;
	}

	.profession {
		margin-top: 0;
		margin-bottom: 10px;
	}

	a i {
		height: 45px;
		width: 45px;
		margin: 0 3px;
		border-radius: 50%;
		border: 3px solid #222222;
		color: #222222;
		font-size: 20px;

		&:hover, &:active {
			background-color: #222222;
			color: white;
		}
	}

	.lg-paragraph {
		margin-top: 50px;
		padding: 0 60px;
		font-size: 16px;
		line-height: 26px;
	}	

	@media (max-width: 767px) {
		img {
			width: 28vw;
			height: 28vw;
		}

		.icon-container {
			margin-bottom: 50px;
		}

		.lg-paragraph {
			padding: 0;
		}
	}
}

.section--logos {
	padding: 70px 0;
	background-color: white;

	.flex-row {
		align-content: center;
		justify-content: center;

	}

	.logo-item {
		display: flex;
		justify-content: center;
		padding: 15px 30px;

	}

	img {
		//padding: 15px 30px;
		object-fit: contain;
		width: 100%;
	}

	@media (max-width: 767px) {
		img {
			width: 120px;
		}
	}
}

.section--contact {
	padding-bottom: 110px;
	background-color: #222222;
	background-image: url('/images/map.png');
	background-size: cover;
	background-position: center;

	@media (max-width: 740px) {
		padding-bottom: 70px;
	}

	h3 {
		color: white;
	}

	input, textarea {
		width: 100%;
		border: 0;
		border-radius: 3px;	
		margin-bottom: 29px;	
	}

	input {
		height: 52px;
		padding: 0 20px;

		&::-webkit-input-placeholder,  { /* Chrome/Opera/Safari */
			@include placeholder-styles;
		}
		&::-moz-placeholder { /* Firefox 19+ */
			@include placeholder-styles;
		}
		&:-ms-input-placeholder { /* IE 10+ */
			@include placeholder-styles;
		}
		&:-moz-placeholder { /* Firefox 18- */
			@include placeholder-styles;
		}
	}

	textarea {
		min-width: 100%;
		max-width: 100%;
		min-height: 214px;
		max-height: 214px;
		overflow: auto;
		padding: 20px;
		font-family: $heading-font-family;

		&::-webkit-input-placeholder,  { /* Chrome/Opera/Safari */
			@include placeholder-styles;
		}
		&::-moz-placeholder { /* Firefox 19+ */
			@include placeholder-styles;
		}
		&:-ms-input-placeholder { /* IE 10+ */
			@include placeholder-styles;
		}
		&:-moz-placeholder { /* Firefox 18- */
			@include placeholder-styles;
		}
	}
}

footer {
	padding: 30px 0;
	background-color: white;

	a {
		text-decoration: none;

		i {
			height: 41px;
			width: 41px;
			border: 3px solid #222222;
			border-radius: 50%;
			color: white;
			background-color: #222222;
			font-size: 18px;

			&:hover, &:active {
				background-color: white;
				color: #222222;	
			}
		}	
	}

	.text-item {
		display: flex;
		align-items: center;

		p {
			margin: 0;
			font-family: $heading-font-family;
			font-weight: 700;
			font-size: 13px;
		}
	}

	@media (min-width: 768px) and (max-width: 991px) {
		.icon-container {
			text-align: right;
		}
	}

	@media (max-width: 767px) {
		.text-item {
			justify-content: center;
			padding-bottom: 15px;
		}
	}
}


.bg {
	background-color: gray;
}

.bg2 {
	background-color: orange;
}

.bg3 {
	background-color: yellow;
}




