@import "variables";
@import "mixins";
@import "layout";
@import "icons";
@import "main-styles";
@import "sections/sections";
@import "sections/section--header";
@import "sections/section--services";
@import "sections/section--portfolio";
@import "sections/section--about";
@import "sections/section--team";
@import "sections/section--logos";
@import "sections/section--contact";
@import "sections/section--footer";



.bg {
	background-color: gray;
}

.bg2 {
	background-color: orange;
}

.bg3 {
	background-color: yellow;
}




