.section--logos {
	padding: 70px 0;
	background-color: white;

	.logo-item {
		display: flex;
		justify-content: center;
		padding: 15px 30px;
	}

	img {
		object-fit: contain;
		width: 100%;
	}

	@media (max-width: 767px) {
		img {
			width: 120px;
		}
	}
}