.section--services {
	padding-bottom: 80px;
	background-color: $background-color;

	@media (max-width: 740px) {
		padding-bottom: 40px;
	}

	.services-item {
		margin-bottom: 30px;

		.icon-container {
			display: flex;
			justify-content: center;
		}

		a {
			text-decoration: none;

			i {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 76px;
				width: 76px;
				margin-bottom: 13px;
				padding: 10px;
				border: 3px solid $yellow-color;
				border-radius: 50%;
				color: $yellow-color;
				font-size: 37px;
				transition: all .3s;

				&:hover, &:active {
					background-color: $yellow-color;
					color: white;
				}
			}
		}		
	}
}