footer {
	padding: 30px 0;
	background-color: white;

	a {
		text-decoration: none;

		i {
			height: 41px;
			width: 41px;
			border: 3px solid $footer-dark-gray;
			border-radius: 50%;
			color: white;
			background-color: $footer-dark-gray;
			font-size: 18px;

			&:hover, &:active {
				background-color: white;
				color: $footer-dark-gray;	
			}
		}	
	}

	.text-item {
		display: flex;
		align-items: center;

		p {
			margin: 0;
			font-family: $heading-font-family;
			font-weight: 700;
			font-size: 13px;
		}
	}

	@media (min-width: 768px) and (max-width: 991px) {
		.icon-container {
			text-align: right;
		}
	}

	@media (max-width: 767px) {
		.text-item {
			justify-content: center;
			padding-bottom: 15px;
		}

		.icon {
			padding-bottom: 10px;
		}
	}
}